YII_DEBUG=true
YII_ENV=dev

DB_USERNAME=root
DB_PASSWORD=root
DB_DSN=mysql:host=db;dbname=yii2_pet_project


SMS_PILOT_API_KEY=XXXXXXXXXXXXYYYYYYYYYYYYZZZZZZZZXXXXXXXXXXXXYYYYYYYYYYYYZZZZZZZZ
SMS_PILOT_SENDER=